* {
  font-family: monospace;
  color: whitesmoke;
  text-align: center;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

section {
  margin: 80px 0;
}

button {
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}

.alert {
  border-color: lightgreen;
  margin-top: 24px;
  width: 150px;
}
